.swal2-popup.swal2-toast.swal2-show{
    z-index: 999999;
}
.student_success_history_area .student_success_history_content .student_success_video_area .success_video_area .video_button_icon {
    border: 0px solid red;
    width: 130px;
    height: 130px;
    background-color: #dc2626;
    border-radius: 50%;
    position: absolute;
    z-index: 98;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    justify-content: center;
    display: flex;
    align-items: center;
}
.my_it_service_area .my_it_service_area_content .service_area .wordpress .service_logo img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}
.our_it_services_area .my_it_service_area_content .service_area .wordpress .service_logo img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}
.our_it_services_area .my_it_service_area_content .service_area .service {
    width: 410px;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
}
.my_it_service_area .my_it_service_area_content .service_area .service {
    width: 410px;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
}

.student_success_history_area .student_success_history_content .student_success_video_area .success_video_area {
    border: 0px solid red;
    position: relative;
    background-color: transparent;
    padding: 0px;
    position: relative;
    max-width: 400px;
}

.button_all:hover {
    background-color: #dc2626;
    border: 1px solid transparent;
    color: #ffffff;
}
.course_details_area .course_details_part .course_info .course_info_div .course_info_thubnail_and_icon {
    position: relative;
    width: 411px;
    /* height: 272px; */
    /* height: 100%; */
    text-align: center;
    /* margin: 20px; */
    margin: 20px 0px;
    border-radius: 16px 16px 0px 0px;
}
.my_courses_area .my_contunued_courses .my_contunued_all_courses .c_card .card_title_area .card_title .batch_text {
    border: 0px solid red;
    font-size: 16px;
    line-height: 16px;
    font-family: "SemiBold";
    color: #1c1c1c;
    transition-duration: 0.4s;
}

.my_courses_area .my_contunued_courses .my_contunued_all_courses .c_card .card_title_area .card_title .batch_text:hover {
    color: #dc2626;
}